<!-- <p>about-us works!</p> -->
<div  class="about title" id="about">
<div class="container aos-init aos-animate" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
        <div class="about-img">
          <img src="../../assets/img/aboutus.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h2>ARTUSI RISTORANT </h2>
        <p class="fst-italic">
          Artusi Ristorante, owners and the chef who hail from Emilia Romagna region of Northeastern Italy in settings that make you want to come back for more. 
        </p>
        <ol>
          <li><i class="bi bi-check-circle"></i> We pair our food with a long list of exquisite Italian wines and spirits to give you wholesome dining experience.</li>
          <li><i class="bi bi-check-circle"></i> We thrive on bringing people together with traditional Italian food and drinks.</li>
          <li><i class="bi bi-check-circle"></i> The ambiance in our dining room is sophisticated but never too formal.</li>
          <li><i class="bi bi-check-circle"></i> Every corner of the restaurant has been lovingly decorated to showcase the original and traditional Italy straight out of our Italian owner’s memories.</li>
          <li><i class="bi bi-check-circle"></i> We serve stunning food showcasing authenticity, tradition, skill, precision, and flavour you would expect from Oscar Balcon and his team.</li>
          <li>The Emilia Romagna region is famous for its pasta.</li>
          <li>our menu also features an extensive range of risottos, meats, fish, seafood, salads, vegetables, and some truly amazing desserts.</li>
        </ol>
        <p>
          When The Table first opened, its unusual menu and sharing plates immediately set it apart. Since then, the food has remained remarkably consistent, 
          while evolving to reflect the growing bounty available at the restaurant’s namesake farm in Alibag. Dishes here take inspiration from countries from 
          all over the world, allowing chef Divesh Aswani to play with cuisines, modernise traditional recipes and experiment with ingredients. Dishes that have
          become fixtures on the menu include the boneless chicken wings, the Table salad (for which all ingredients come from the restaurant’s farm), yellowfish
          tuna tataki and avocado toast served on sourdough from sister enterprise Magazine Street Kitchen. The soft-shell crab with nam jim and mixed-herb salad
          exemplifies the restaurant’s commitment to sustainable sourcing, with each of the ingredients that make up the hearty salad sourced locally.
        </p>
      </div>
    </div>

  </div></div>