.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}

*, ::after, ::before {
    box-sizing: border-box;
}

.navbar{
    background: rgba(231, 223, 206, 0.6);
    border-bottom: 1px solid rgba(12, 11, 9, 0.6);
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    /* top: 40px */
}
.justify-content-lg-between {
    justify-content: space-between!important;
}

.d-flex {
    display: flex!important;
}

.container .mainData{
    background: #2c2f32;
}




.align-items-center {
    align-items: center!important;
}
.d-flex {
    display: flex!important;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}