<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Testimonials</h2>
        <p>What they're saying about us</p>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                I came here a few weeks back for my grandmothers birthday. Our servers were Vinoth and Naidu. They were both very good and very attentive. We had a traditional sit down meal and ordered many items off the menu that they served to us individually fresh on banana leaves. Not only were they very attentive servers, they were extremely warm and friendly and also went out of their way to make my grandmothers birthday memorable. We ordered a few appetizers, main entrees and desserts. 
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <!-- <h4>Ceo &amp; Founder</h4> -->
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Had a lovely evening at the place. The prawn biryani with mango coconut chutney and fish fry are to die for . Brilliant hospitality and service by Boopathi and Nagesh                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
              <!-- <h4>Designer</h4> -->
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Lovely food, cosy atmosphere, really attentive staff, really enjoyed it                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <!-- <h4>Store Owner</h4> -->
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Aparna Lunch Home is a popular restaurant in the Sion area. The serve wide variety of Seafood & Chicken Dishes. They were providing discounts on food delivery app recently and I decided to order their Prawns Biryani.                 <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <!-- <h4>Freelancer</h4> -->
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Too much rush, it's a quarter joint, very affordable, but again primarily only nonveg food served. Very little option for vegetarians. Vegetarians not comfortable with live crabs in open view should not visit. One can smell a lot of fish in the restaurant.                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>John Larson</h3>
              <!-- <h4>Entrepreneur</h4> -->
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section>